node_modules/
.env
.env.*
!.env.example
!.env.*.example
!*.env.example
uploads/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
ios/Pods/
*.log
.idea/
*.iml
tools/
*.jks
*.keystore
key.properties
